pkgbase = syd-git
	pkgdesc = Rock-solid application kernel for sandboxing applications on Linux
	pkgver = 0.0.0
	pkgrel = 1
	url = https://gitlab.exherbo.org/sydbox/sydbox
	arch = x86_64
	license = GPL-3.0-only
	makedepends = git
	makedepends = rust
	makedepends = scdoc
	makedepends = pkgconf
	depends = libseccomp
	depends = gcc-libs
	provides = syd
	provides = sydbox
	conflicts = syd
	conflicts = sydbox
	options = !lto
	source = syd::git+https://gitlab.exherbo.org/sydbox/sydbox.git#branch=next
	sha256sums = SKIP

pkgname = syd-git
